/* Palanquer Regular */
@font-face {
    font-family: "Palanquin";
    src: url("assets/fonts/Palanquin‑Regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Palanquin";
    src: url("assets/fonts/Palanquin‑Bold.woff2") format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: 'Figtree';
    src: url('fonts/Figtree-Regular.woff2') format('woff2'),
        url('fonts/Figtree-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('fonts/Figtree-Bold.woff2') format('woff2'),
        url('fonts/Figtree-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Palanquin", sans-serif;
}

* {
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    height: 100%;
    margin: 0;
}

.wrapper_container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    /* padding: 0 160px;*/
    width: 100%;
    margin: auto;
    background-color: #06171E;
}

/* HEADER */

.header_layout {
    display: flex;
    height: 81px;
    background-color: rgba(9, 33, 42, 1);
    align-items: center;
}

.header_logo {
    padding-top: 20px;
    padding-right: 140px;
    padding-bottom: 20px;
    padding-left: 140px;
}

/* MAIN CONTENT */



/* PAGE-CONTENT SECTION */
.page_title {
    max-width: 900px;
    width: 100%;
    height: 67px;
    color: rgba(255, 255, 255, 1);
    margin: 0 auto 80px;
    margin-top: 179px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Palanquer", sans-serif;
    font-size: 56px;
    font-weight: 800;
    text-align: center;

}

.photo_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page_content {
    flex: 1;
    max-width: 1195px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(6, 23, 30, 1);
}

.photo-row {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.photo-platzhalter {
    width: 150px;
    height: 150px;
    display: flex;
    object-fit: cover;
    border-radius: 16px;
    border: 2px solid rgba(18, 70, 88, 1)
}

.photo-platzhalter:hover {
    transform: scale(1.05);       
    border-color: rgba(18, 70, 88, 1); 
    cursor: pointer;          
}



/* FOOTER */

.footer_layout {
    height: 128px;
    width: 100%;
    margin-top: 80px;
    background-image: url("./assets/icons/Subtract.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_logo {
    width: 210px;
    height: auto;
}

.image-dialog {
    border: none;
    padding: 0;
    background: transparent;
}

dialog#image-dialog {
    background: rgba(9, 33, 42, 1);
    border-radius: 40px;
}

.dialog-container {
    max-width: 688px;
    background-color: rgba(9, 33, 42, 1);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-top: 56px;
    padding-right: 64px;
    padding-bottom: 56px;
    padding-left: 64px;
}

button#prev-btn,
button#next-btn {
    background-color: rgba(253, 91, 79, 0);
}

.dialog-header {
    height: 64px;
    padding: 0 24px;
    font-size: 24px;
    font-family: 'Figtree', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.dialog-footer {
    padding: 0 24px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.dialog-body {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-body img {
    width: 570px;
    height: 375px;

}


/* RESPONSIV */

@media (max-width: 1180px) {

    .header_logo {
        padding-top: 8px;
        padding-right: 2px;
        padding-bottom: 6px;
        padding-left: 8px;
    }

    .page_title {
        max-width: 100%;
        font-size: 44px;
        margin-top: 140px;
        margin-bottom: 64px;
    }

    .page_content {
        gap: 64px;
    }

    .photo-row {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .dialog-container {
        max-width: 600px;
        padding: 40px;
        gap: 40px;
    }

}


@media (max-width: 990px) {

    .header_layout {
        justify-content: center;
    }

    .dialog-container {
        max-width: 500px;

    }

    .dialog-body img {
        width: 420px;
        height: 380px;
        object-fit: cover;
    }

    .page_title {
        font-size: 40px;
        margin-top: 120px;
    }

    .photo-row {
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media (max-width: 480px) {

    .dialog-container {
        width: 100%;
        max-width: 343px;
        min-height: 660px;
        border-radius: 40px;
        gap: 48px;
    }

    .dialog-body img {
        width: 300px;
        height: 320px;
        object-fit: cover;
    }

    .header_layout {
        justify-content: center;
    }

    .header_logo {
        padding-top: 20px;
    }

    .page_content {
        gap: 12px;
    }

    .page_title {
        font-size: 28px;
        margin-top: 80px;
    }

    .dialog-container {
        padding: 24px;
        gap: 24px;
    }
}


@media (max-width: 375px) {

    .header_layout {
        justify-content: center;
    }

    .page_title {
        font-size: 40px;
    }

    .photo-platzhalter {
        width: 140px;
        height: 140px;
    }


    .wrapper_container {
        padding: 0;
    }

    .footer_layout {
        width: 100%;
        height: 103px;
        justify-content: center;
    }

    .footer_logo {
        width: 150px;
        height: auto;
    }


}