
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Figtree", "Palanquin", sans-serif;
    background-color: #06171E; 
}

/* HEADER */
header {
    display: flex;
    justify-content: center;
    background-color: rgba(9, 33, 42, 1);
    height: 81px;
    width: 100%;

}

.header_layout {
    display: flex;
    width: 100%;
    max-width: 1440px;
    height: 81px;
    padding: 0 20px;
}

.header_logo {
    padding-top: 20px;
    display: flex;
    align-items: flex-start;
}

/* MAIN CONTENT */
main {
    display: flex;
    justify-content: center;
    flex: 1 0 auto; 
    background-color: #06171E;
    min-height: 860px;
}

.wrapper_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
}

.page_title {
    width: 100%;
    max-width: 900px;
    margin: 179px auto 80px;
    color: white;
    font-family: "Palanquin", sans-serif;
    font-size: 56px;
    font-weight: 800;
    text-align: center;
}

/* FOTO GRID */
.photo_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.photo-row {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
}

.photo-platzhalter {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 16px;
    border: 2px solid rgba(18, 70, 88, 1);
    transition: transform 0.2s ease, filter 0.2s ease;
}

.photo-platzhalter:hover {
    transform: scale(1.05);
    cursor: pointer;
    filter: brightness(1.2);
}

/* FOOTER */
.footer_outer {
    width: 100%;
    background-color: #06171E; 
    margin-top: 80px;
}

.footer_layout {
    width: 100%;
    /* max-width: 1440px; */
    height: 128px;
    margin: 0 auto; 
    background-image: url("./assets/icons/Subtract.png");
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-position: center bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -1px; 
}

.footer_logo {
    width: 210px;
    height: auto;
    margin-top: 15px; 
}


.image-dialog {
    border: none;
    padding: 0;
    background: transparent;
}

span#photo-count {
    color: white;
    font-size: 24px;
}

dialog#image-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(9, 33, 42, 1);
    border-radius: 40px;
    border: none;
}


.dialog-container {
    max-width: 688px;
    background-color: rgba(9, 33, 42, 1);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-top: 56px;
    padding-right: 64px;
    padding-bottom: 56px;
    padding-left: 64px;
}

button#prev-btn,
button#next-btn {
    width: 60px;
    height: 60px;
    background-color: rgba(253, 91, 79, 0);
    border: none;
}

button#prev-btn :hover,
button#next-btn :hover {
    background-color: rgba(253, 91, 79, 0.2);
    cursor: pointer;
    transition: background-color 0.2s ease;
    padding: 1px;
    border-radius: 50%;
}

.dialog-header {
    font-size: 24px;
    font-family: 'Figtree', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.dialog-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.dialog-body {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-body img {
    width: 570px;
    height: 375px;

}

#close-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    padding: 8px;
    border-radius: 50%;

}

#close-btn:hover {
    background-color: rgba(253, 91, 79, 0.2);

}



/* RESPONSIV */

@media (max-width: 990px) {

    .header_layout {
        justify-content: center;
    }

    .dialog-container {
        max-width: 500px;

    }

    .dialog-body img {
        width: 420px;
        height: 380px;
        object-fit: cover;
    }

    .page_title {
        font-size: 40px;
        margin-top: 120px;
    }

    .photo-row {
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media (max-width: 480px) {

    .dialog-body img {
        width: 300px;
        height: 320px;
        object-fit: cover;
    }

    .header_layout {
        justify-content: center;
    }

    .header_logo {
        padding-top: 20px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .page_content {
        gap: 12px;
    }

    .page_title {
        font-size: 28px;
        margin-top: 80px;
    }

    .dialog-container {
        padding: 24px;
        gap: 24px;
    }
}


@media (max-width: 375px) {

    span#photo-count {
        font-size: 16px;
    }

    .header_layout {
        justify-content: center;
    }

    .page_title {
        font-size: 40px;
    }

    .wrapper_container {
        padding: 0;
    }

    .footer_layout {
        width: 100%;
        height: 103px;
        justify-content: center;
    }

    .footer_logo {
        width: 150px;
        height: auto;
    }

    .dialog-body img {
        width: 250px;
        height: 320px;
        object-fit: cover;
    }


}